################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FSITest/ConsoleTest/bin/Debug
/FSITest/FSITest/bin
/FSITest/ConsoleTest/obj
/FSITest/FSITest/obj/Debug
/FSITest/.vs/FSITest
/FSITest/FSITest/obj/Release
